[submodule "lib/testsub"]
	path = lib/testsub
	url = https://gerrit.lsdev.sil.org/testsub.git
	update = rebase
	# Name of the branch in the project repository that Gerrit Code Review
	# should automatically refresh the project's gitlink entry from.
	revision = .
